.App {
  background: linear-gradient(to bottom, #0A080E, #161B1F 90%);
  padding: 2.5rem 1.25rem;   
}

.title {
  font-size: 2.25rem;
  line-height: 3rem;
  margin: 0;
}

.desc {
  font-size: 1.5rem;
  line-height: 1.875rem;
  margin: 0;
}