@font-face {
  font-family: 'MyFont';
  src: local('MyFont'), url(./avenir-next-bold.woff) format('woff');
}

@font-face {
  font-family: 'MyFont-reg';
  src: local('MyFont'), url(./avenir-next-regular.woff) format('woff');
}

body {
  background: #FCF3F3;
  font-family: 'MyFont-reg', sans-serif;
  font-size: calc(16px + 1vw);
  line-height: calc(1.5em + 0.5vw);
  color: #0C0C0C;
  margin: 0;
  padding: 0;
  text-align: center;
}

@media (min-width: 96em) {
  body {
    font-size: 36px;
    line-height: 63px;
  }
}
